flows.json
[{"id":"379a755f.16c60a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4616f9fa.8e5a78","type":"ui_form","z":"379a755f.16c60a","name":"","label":"","group":"6e9c8097.9a176","order":1,"width":"0","height":"0","options":[{"label":"Specific Gravity","value":"Sg","type":"number","required":true,"rows":null},{"label":"Albumin","value":"Al","type":"number","required":true,"rows":null},{"label":"Hemoglobin","value":"Hemo","type":"number","required":true,"rows":null},{"label":"Packed Cell Volume","value":"Pcv","type":"number","required":true,"rows":null},{"label":"Red Blood Cell Count","value":"Rbcc","type":"number","required":true,"rows":null},{"label":"Hypertension","value":"Htn","type":"text","required":true,"rows":null},{"label":"Diabetes Mellitus","value":"Dm","type":"text","required":true,"rows":null}],"formValue":{"Sg":"","Al":"","Hemo":"","Pcv":"","Rbcc":"","Htn":"","Dm":""},"payload":"","submit":"Predict","cancel":"cancel","topic":"","x":170,"y":260,"wires":[["987deb07.35b108"]]},{"id":"987deb07.35b108","type":"function","z":"379a755f.16c60a","name":"PreToken","func":"global.set(\"Sg\",msg.payload.Sg)\nglobal.set(\"Al\",msg.payload.Al)\nglobal.set(\"Hemo\",msg.payload.Hemo)\nglobal.set(\"Pcv\",msg.payload.Pcv)\nglobal.set(\"Rbcc\",msg.payload.Rbcc)\nglobal.set(\"Htn\",msg.payload.Htn)\nglobal.set(\"Dm\",msg.payload.Dm)\nvar apikey=\"nIRjhISx910dr1kYf7uCwWpp4MxI4ab0Zy5q3xY5Kvmp\";\nmsg.headers={\"Content-Type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":260,"wires":[["3875565c.f7b1da"]]},{"id":"3875565c.f7b1da","type":"http request","z":"379a755f.16c60a","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.bluemix.net/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":260,"wires":[["8ba7d0a6.647eb"]]},{"id":"8ba7d0a6.647eb","type":"function","z":"379a755f.16c60a","name":"Pre Prediction","func":"var Sg=global.get('Sg')\nvar Al=global.get('Al')\nvar Hemo=global.get('Hemo')\nvar Pcv=global.get('Pcv')\nvar Rbcc=global.get('Rbcc')\nvar Htn=global.get('Htn')\nvar Dm=global.get('Dm')\nvar token=msg.payload.access_token\nvar instance_id=\"f36085ae-a511-408c-8fa5-6a5900b8f5aa\"\nmsg.headers={\"Content-Type\":\"application/json\",\"Authorization\":\"Bearer \"+token ,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Specific Gravity\", \"Albumin\", \"Hemoglobin\", \"Packed Cell Volume\", \"Red Blood Cell Count\", \"Hypertension\", \"Diabetes Mellitus\"],\"values\": [[Sg,Al,Hemo,Pcv,Rbcc,Htn,Dm]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":280,"wires":[["eef491dd.9a155"]]},{"id":"eef491dd.9a155","type":"http request","z":"379a755f.16c60a","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/v4/deployments/9da1dab4-5204-444b-a90b-d3575f80d0c1/predictions","tls":"","persist":false,"proxy":"","authType":"","x":930,"y":280,"wires":[["fabeae19.bb97c","cb35e3cf.d49d2"]]},{"id":"fabeae19.bb97c","type":"function","z":"379a755f.16c60a","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1040,"y":180,"wires":[["d10139c9.086cd8"]]},{"id":"d10139c9.086cd8","type":"ui_text","z":"379a755f.16c60a","group":"6e9c8097.9a176","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":1160,"y":340,"wires":[]},{"id":"cb35e3cf.d49d2","type":"debug","z":"379a755f.16c60a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1290,"y":180,"wires":[]},{"id":"6e9c8097.9a176","type":"ui_group","z":"","name":"Chronic Kidney Disease Prediction","tab":"8b2f4ce7.7a627","order":1,"disp":true,"width":"8","collapse":false},{"id":"8b2f4ce7.7a627","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]